@font-face {
  font-family: "Adelphe Germinal";
  src: url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.eot");
  src: url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/72067b94549188cf7b08bf35608a587b.svg#Adelphe Germinal")
      format("svg");
}

@font-face {
  font-family: "Infini";
  src: url("./assets/infini/infini-regular.otf");
}

:root {
  --font-systeme: "Adelphe Germinal", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-family-texte: "Adelphe Germinal", var(--font-systeme);
  --font-family-texte-gras: "Adelphe Germinal", var(--font-systeme);
  --font-titre: "Infini", var(--font-systeme);
  --couleur-primaire: #009999;
  --couleur-primaire-sombre: #006666;
  --couleur-secondaire: #f9b000;
  --couleur-secondaire-sombre: #a57a17;
  --hauteur-barre-navigation: 100px;
}

.titre-moyen,
h2 {
  font-family: var(--font-family-texte);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

h1 {
  font-family: var(--font-titre);
  font-size: 30px;
  line-height: 38px;
}
#app {
  padding: 0px;
  margin: 0px;
}
